
<div class="row">
 <div class="col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12">

            <!-- Start About Me -->
            <h2>About Social NGO</h2>
            <p>Suvadugal" was established in May 2011, originated from Chennai and looking to extend its services geographically. Started with a small group of members it aimed at doing viable good to the society. Later on expanding its member strength it started spreading its services across the current thematic areas. It is also registered as a 'Trust' under Government norms and regulations to serve the society on general terms. All activities carried out by us are bound to these norms and regulations.

“Suvadugal” is managed by an executive committee supported by a team of young dedicated professionals. Most of its members are software professionals working in and around Chennai which helps to serve in the city and urges to reach rural areas across regions.

At initial stages we looked to gather knowledge on service from existing service organizations, as we believed in the saying, ‘Only if you are put into water, you will learn swimming’. By that way we also targeted at understanding the needs, problems faced and the daily life of the needy’s. We also got many contacts from fellow service organizations, which helped us to gain knowledge, reach those who needed help, made us reachable to those who needed help and a lot more.</p>
            <!-- End About Me -->



            <!-- Start Latest Projects -->
            <h2>Recent Activities and Initiatives</h2>

            <div class="row projects">
              <div class="col-xs-12 col-sm-6">
                <p><a href="#"><i class="icon-plus"></i>Activity1</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula lobortis felis, eget porta augue consequat et.</p>
              </div>

              <div class="clearfix visible-xs"></div>

              <div class="col-xs-12 col-sm-6">
                <p><a href="#"><i class="icon-plus"></i>Activity2</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula lobortis felis, eget porta augue consequat et.</p>
              </div>
            </div>

            <div class="row projects">
              <div class="col-xs-12 col-sm-6">
                <p><a href="#"><i class="icon-plus"></i>Activity3</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula lobortis felis, eget porta augue consequat et.</p>
              </div>

              <div class="clearfix visible-xs"></div>

              <div class="col-xs-12 col-sm-6">
                <p><a href="#"><i class="icon-plus"></i>Activity4</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula lobortis felis, eget porta augue consequat et.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
