
  <body>

  <!--html Start of Navigation Bar -->

  <nav class="navbar no-margin no-padding navbar-static-top fontsize25" role="navigation">

    <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-Dropdown-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>

        
             </button>
             <a class="navbar-brand fontsize25" href="http://www.suvadugal.org/">Suvadugal</a>
           </div>
           <div class="collapse navbar-collapse" id="bs-Dropdown-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="">Home</a></li>
                  <li><a href="navbar.html">Dashboard</a></li>
                  <li><a href="index.html">Link3</a></li>
                  <li class="Dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"> </span> </a>
                     <ul class="dropdown-menu" role="menu">
                     <li><a href="#">Action</a></li>
                     <li><a href="#">Another Action</a></li>
                     </ul>
                   </li>
              </ul>
           </div>
       </div>

  </nav>

 <!--html End of Navigation Bar -->

 <!--html Start of Main Content here -->
   


 <!--html End of Main Content here -->


<!--html Start of Footer -->

<div class="container">

 <div class="row">

  <div class="col-sm-10">

    <table class="table table-striped table-bordered" style="margin-top:40px">
       <thead>
          <tr>
            <th>First Name</td>
            <th>Last Id</th>
            <th>Email</th>
            <th>Address</th>
          </tr>
      </thead>

      <tbody>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address1</td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address2</td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address3</td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address4</td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address5</td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address6</td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address7</td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>
              <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove"></span> Block
              </button>
            </td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address8</td>
        </tr>
        <tr>
           <td>Userf1</td>
           <td>Userl1</td>
           <td>UserEmail1</td>
           <td>Address9</td>
        </tr>
    </tbody>

    </table>


  </div>


 </div>

</div>
</body>