<footer class="site-footer">
    <div class="container">
       <div class="row">
         <div class="col-md-5">
            <address>
              <h2>Contact Address</h2>
             Suvadugal, Velachery <br>
             Phone:09994537356, Chennai <br>
             PINCODE:600042,Email:voice@suvadugal.org

            </address>

         </div>

       </div>

       <div class="bottom-footer footer-nav">
          <div class="col-md-5 push-left"><p>@Copyrights Kedarnath Reddy</p></div>
          <div class="col-md-7">
                <ul>
                   <li><a href="http://www.suvadugal.org/">Suvadugal</a></li>
                   <li><a href="home">Home</a></li>
                   <li><a href="grids.html">Grids</a></li>
                </ul>
          </div>
       </div>
   </div>
</footer>
