<style>
  html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

</style>
<div class="container-full">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <h1>Suvadugal</h1>
          <p class="lead">Connecting NGOs with contributors</p>

          <br><br><br>

          <form class="col-lg-12">
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
              <p class="lead">Register - <a href="signup?registerType=ngo">NGO</a> | <a href="signup?registerType=contrib">Contributor</a></p>
              <p class="lead"><a href="/login">Log In</a>
            </div>
          </form>
        </div>

      </div> <!-- /row -->

  	  <div class="row">

        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>

      </div>

  	<br><br><br><br><br>

</div> <!-- /container full -->
