<nav class="navbar navbar-static-top fontsize25 no-margin no-padding" role="navigation" style="background-color:black">

  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-Dropdown-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>


           </button>
           <a class="navbar-brand fontsize25" href="http://www.suvadugal.org/" style="color:white">Suvadugal</a>
         </div>
         <div class="collapse navbar-collapse" id="bs-Dropdown-navbar-collapse-1" style="background-color:black">
            <ul class="nav navbar-nav navbar-right" style="color:white">
                <li><a href="https://www.facebook.com/pages/Suvadugal/165362983524171?fref=nf"><img src="http://icons.iconarchive.com/icons/emey87/social-button/32/facebook-icon.png"></a></li>
                <li><a href="https://twitter.com/" style="color:white"><img src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/32/social-twitter-button-blue-icon.png"></a></li>
                <li><a href="https://accounts.google.com/ServiceLogin?sacu=1&continue=https%3A%2F%2Fplus.google.com%2F%3Fgpsrc%3Dgplp0&service=oz" style="color:white"><img src="http://icons.iconarchive.com/icons/martz90/circle/32/google-plus-icon.png"></a></li>

            </ul>
         </div>
     </div>

</nav>

<div id="myCarousel" class="carousel slide" style="height:237px">
 <!-- Carousel indicators -->
 <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <!-- Carousel items -->
 <div class="carousel-inner" style="background-color:#b2b2b2">
    <div class="item active">
       <div class="container" style="height:237px">
      <h1>Social NGO</h1>
      <p>This is the initiative of Suvadugal in an attempt of getting every NGO in Chennai together</p>
      <p><a class="btn btn-lg btn-primary" href="http://www.suvadugal.org/" role="button">More Info</a></p>
      </div>
    </div>

 </div>
 <!-- Carousel nav -->
 <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
 <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="container" style="margin-top:40px">
<div class="row" style="font-size:25px">
   <div class="col-sm-6">
    <p><strong>NGO's SignIn / Register</strong></p>
   </div>

   <div class="col-sm-6">
     <p><strong>Users SignIn / Register </strong></p>

   </div>

</div>
<div class="row">
 <div class="col-sm-6">
  <img class="img-circle" src="http://ngopost.org/sites/default/files/profiles/connecting_logo.JPG" style="height:150px">
 </div>
 <div class="col-sm-6">
  <img src="http://www.stepforwardpak.org/wp-content/uploads/2013/07/sfp-ngo.jpg" style="height:140px">
 </div>
</div>
</div>

<div class="container" style="margin-top:10px">
 <div class="row">
   <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-4">
     <a class="btn btn-warning" href="" role="button">Sign In</a>
     </div>
     <a class="btn btn-success " href="signup" role="button">Register</a>
     </div>
   </div>
   <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-4">
     <a class="btn btn-warning" href="" role="button">Sign In</a>
     </div>
     <a class="btn btn-success " href="signup" role="button">Register</a>
     </div>
   </div>


 </div>


</div>
