<body>

  <!--html Start of Navigation Bar -->

  <nav class="navbar no-margin no-padding navbar-static-top fontsize25" role="navigation">

    <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-Dropdown-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>


             </button>
             <a class="navbar-brand fontsize25" href="http://www.suvadugal.org/">Suvadugal</a>
           </div>
           <div class="collapse navbar-collapse" id="bs-Dropdown-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="">Home</a></li>
                  <li><a href="navbar.html">Dashboard</a></li>
                  <li><a href="index.html">Link3</a></li>
                  <li class="Dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"> </span> </a>
                     <ul class="dropdown-menu" role="menu">
                     <li><a href="#">Action</a></li>
                     <li><a href="#">Another Action</a></li>
                     </ul>
                   </li>
              </ul>
           </div>
       </div>

  </nav>

  <div class="container">
    <div class="row" style="margin-top:40px;margin-left:40px">
    <div class="col-sm-4">

      <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">Create Event</a>
      <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
       <div class="modal-dialog model-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">New Event</h4>
            </div>
            <div class="modal-body">
               <form id="myForm" method="post">
          <div class="form-group">
  <div class="row">
  <div class="col-md-8">
    <label for="eventName">Event Name</label>
     <input type="text" class="form-control" id="eventName" placeholder="Event Name"/>
     </div>
     </div>
  </div>

  <div class="form-group">
  <div class="row">
  <div class="col-md-8">
    <label for="eventLocation">Event Location</label>
     <input type="text" class="form-control" id="eventLocation" placeholder="Event Location"/>
     </div>
     </div>
  </div>

  <div class="form-group">
  <div class="row">
  <div class="col-md-8">
    <label for="eventDate">Date of Event</label><br>
     <input class="datepicker" data-date-format="dd/mm/yyyy" data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="eventDate" name="eventDate" type="text">
     </div>

     </div>
  </div>


  <div class="form-group">
  <div class="row">
  <div class="col-sm-8">
    <label for="about">About the Event Briefly</label><br>
     <textarea class="field span12" id="textarea" rows="6" cols="66" placeholder="Enter a short synopsis"></textarea>
     </div>
     </div>
  </div>
<div class="form-group">
  <div class="row">
   <div class="col-sm-10">
    <label for="mobileNo">Mobile Number</label>
     <input type="text" class="form-control" id="mobileNo" placeholder="Enter Mobile Number"/>
     </div>
     </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    </form>

            </div>

    </div>
  </div>
 </div>
</div>

    <div class="col-sm-8 text-right">

    <input id="product_search" type="text" data-provide="typeahead" placeholder="Search Event">
    <button id="product_search" type="button" class="btn btn-success ">Search</button>


    </div>
</div>

<div>
<table class="table" style="margin-top:40px">
<thead>
<th>List of Events</th>
</thead>
<tbody>
 <tr>
  <td>
   <div class="row" style="margin-left:0px">
    <h3>Event1</h3>
    <p>Event1. All the information about event1 including pics in the modal when the more button is clicked will be displayed</p>
   </div>
   <div class="row">
    <div class="col-sm-2">
      <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#basicModal1">More</a>
      <div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true">
       <div class="modal-dialog model-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">About The Event</h4>
            </div>
            <div class="modal-body">
              <div class="panel panel-default">
               <div id="RegNGO" class="panel-heading">
                 <h3>Clicks in the Event</h3>
               </div>
               <div class="panel-body">
                 <div class="row" style="height:150px">
                  <div class="col-sm-4"><p>Photograph1</p></div>
                  <div class="col-sm-4"><p>Photograph2</p></div>
                  <div class="col-sm-4"><p>Photograph1</p></div>
                 </div>
                 <div class="row" style="height:150px">
                  <h4>Results of the Event</h4>
                 </div>
               </div>
              </div>
 <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
   </td>
 </tr>
 <tr>
  <td>
   <div class="row" style="margin-left:0px">
    <h3>Event2</h3>
    <p>Event2. All the information about event1 including pics in the modal when the more button is clicked will be displayed</p>
   </div>
   <div class="row">
    <div class="col-sm-2">
      <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#basicModal2">More</a>
      <div class="modal fade" id="basicModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal2" aria-hidden="true">
       <div class="modal-dialog model-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">About The Event</h4>
            </div>
            <div class="modal-body">
              <div class="panel panel-default">
               <div id="RegNGO" class="panel-heading">
                 <h3>Clicks in the Event</h3>
               </div>
               <div class="panel-body">
                 <div class="row" style="height:150px">
                  <div class="col-sm-4"><p>Photograph1</p></div>
                  <div class="col-sm-4"><p>Photograph2</p></div>
                  <div class="col-sm-4"><p>Photograph1</p></div>
                 </div>
                 <div class="row" style="height:150px">
                  <h4>Results of the Event</h4>
                 </div>
               </div>
              </div>
 <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
   </div>
   </td>
 </tr>
 <tr>
  <td>
   <div class="row" style="margin-left:0px">
    <h3>Event3</h3>
    <p>Event3. All the information about event1 including pics in the modal when the more button is clicked will be displayed</p>
   </div>
   <div class="row">
    <div class="col-sm-2">
      <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#basicModal3">More</a>
      <div class="modal fade" id="basicModal3" tabindex="-1" role="dialog" aria-labelledby="basicModal3" aria-hidden="true">
       <div class="modal-dialog model-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">About The Event</h4>
            </div>
            <div class="modal-body">
              <div class="panel panel-default">
               <div id="RegNGO" class="panel-heading">
                 <h3>Clicks in the Event</h3>
               </div>
               <div class="panel-body">
                 <div class="row" style="height:150px">
                  <div class="col-sm-4"><p>Photograph1</p></div>
                  <div class="col-sm-4"><p>Photograph2</p></div>
                  <div class="col-sm-4"><p>Photograph1</p></div>
                 </div>
                 <div class="row" style="height:150px">
                  <h4>Results of the Event</h4>
                 </div>
               </div>
              </div>
 <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
   </div>
   </td>
 </tr>
 <tr>
  <td>
   <div class="row" style="margin-left:0px">
    <h3>Event4</h3>
    <p>Event4. All the information about event1 including pics in the modal when the more button is clicked will be displayed</p>
   </div>
   <div class="row">
    <div class="col-sm-2">
      <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#basicModal4">More</a>
      <div class="modal fade" id="basicModal4" tabindex="-1" role="dialog" aria-labelledby="basicModal4" aria-hidden="true">
       <div class="modal-dialog model-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">About The Event</h4>
            </div>
            <div class="modal-body">
              <div class="panel panel-default">
               <div id="RegNGO" class="panel-heading">
                 <h3>Clicks in the Event</h3>
               </div>
               <div class="panel-body">
                 <div class="row" style="height:150px">
                  <div class="col-sm-4"><p>Photograph1</p></div>
                  <div class="col-sm-4"><p>Photograph2</p></div>
                  <div class="col-sm-4"><p>Photograph1</p></div>
                 </div>
                 <div class="row" style="height:150px">
                  <h4>Results of the Event</h4>
                 </div>
               </div>
              </div>
 <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
   </div>
   </td>
 </tr>
</tbody>

</table>
</div>






</div>

</body>
